/node_modules
build
.env
.env.*
!.env.example
output/*
!output/.gitkeep
temp/*
!temp/.gitkeep
dist/*
!dist/.gitkeep
txt/input/*
!txt/input/.gitkeep
txt/output/*
!txt/output/.gitkeep
logs/*
!logs/.gitkeep
!dependencies/node_modules
twitch_cluster.zip
browser
.history
dist
build
temp
.docker/*
!.docker/.gitkeep

/src/infra/database/prisma/client
!/src/infra/database/prisma/client/.gitkeep

**/*.ignore.*
**/swagger.json